*{
    margin: 0;
    padding: 0;
    list-style: none;
}
.centen{
    width: 1198px;
    margin: 0 auto;
}
.center{
    width: 1030px;
    margin: 0 auto;
}
.box{
    width: 100%;
}
.bt{
    height: 120px;
}
.m1{
    width: 388px;
    height: 120px;
    float: left;
}
.d1{
    float: right;
}
.p1{
    font-size: 10px;
    color: #999999;
    text-align: right;
    margin-top: 12px;
    margin-bottom: 22px;
}
.l1{
    float: left;
    width: 114px;
    height: 52px;
    line-height: 52px;
    text-align: center;
}
.l1:hover{
    background: #cccccc;
}
.m2{
    width: 100%;
    height: 510px;
}
.wz{
    width: 100%;
    height: 2278px;
}
.bit{
    height: 50px;
    border-bottom:1px solid rgb(241, 241, 241);
    margin-top: 0;
}
.l2{
    float: left;
    height: 48px;
    width: 84px;
    line-height: 48px;
    text-align: center;
}
.l2_1{
    color: #66cccc;
    border-bottom: 1px solid #66cccc;
}
.l2:hover{
    color: #66cccc;
    border-bottom: 1px solid #66cccc;
}
.tob{
    height: 176px;
    border-bottom: 1px solid rgb(236, 236, 236);
}
.p2_1{
    font-size: 28px;
    text-align: center;
    margin-top: 84px;
    margin-bottom: 20px;
}
.p2_2{
    font-size: 12px;
    text-align: center;
    color: #999999;
}
.p3{
    font-size: 14px;
    text-indent: 24px;
}
.p3_1{
    margin-top: 52px;
    margin-bottom: 54px;
}
.p3_3{
    margin-top: 52px;
    margin-bottom: 40px;
}
.m4{
    width: 100%;
    height: 578px;
}
.p3_4{
    height: 144px;
    line-height: 144px;
    font-size: 18px;
    text-align: center;
}
.p3_5{
    margin-bottom: 54px;
}
.p3_6{
  margin-top: 56px;
  margin-bottom: 48px;
}
.p3_7{
    margin-top: 54px;
    margin-bottom: 52px;
}
.p3_8{
    margin-top: 55px;
    margin-bottom: 82px;
}
.bu1{
    width: 94px;
    height: 34px;
    font-size: 12px;
    color: #999999;
    text-align: center;
    line-height: 34px;
    border: 1px solid #999999;
    background: #ffffff;
    margin-left: 464px;
}

.wb{
    width: 100%;
    height: 344px;
    background: rgb(248, 248, 248);
}
.d10{
    width: 536px;
    padding-top: 74px;
    float: left;
}
.p10_1{
    font-size: 22px;
    color: #cccccc;
    margin-bottom: 30px;
}
.p10_2{
    font-size: 12px;
    color: #cccccc;
}
.p10_3{
    margin-top: 12px;
}
.d11{
    float: left;
    padding-top: 78px;
}
.u5{
    float: left;
    margin-right: 20px;
}
.l5{
    font-size: 12px;
    color: #cccccc;
    margin-top: 20px;
}
.l5_1{
    margin-bottom: 18px;
}
.m10{
    width: 78px;
    height: 100px;
    margin-top: 20px;
}